<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FT9ja Demo</title>
    <link rel="stylesheet" href="{% static 'account/css/b52css/bootstrap.min.css' %}" />
</head>

<body class="bg-light">
    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{title}} {% else %} banking {% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dbank/css/b52css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dbank/css/core.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/x-icon" href="{% static '/dbank/images/favicon.png' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm w-100">
        <div class="container">
          <a class="navbar-brand text-primary" href="/">
            <img class="img-fluid" style="height: 40px; width: 100%; object-fit: cover;" src="{% static '/account/images/logo.webp' %}">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- bootstrap alert -->
      <section class="container">
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <b>{{ message }}</b>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% block content %} {% endblock content %}

    <footer class="pt-3 bg-light border-top">
      <div class="container">
          <div class="row  p-4">
              <div class="col s12 text-center">
                  <span class=" text-danger">FT9JA demo project</span> &copy; copyright. <br />
                  developed by <span class=" text-primary">Michael Ukeje.</span>
              </div>
          </div>
      </div>
  </footer>

  <script src="{% static 'account/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'account/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
