{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <section>
        <div class=" container">
            <div class="row">
                <div class="col-12 col-sm-5 mx-auto">
                    <div class=" text-center py-4">
                        <h2>Sign into account</h2>
                        <p>don't have an account, <a href="">sign up</a></p>
                    </div>
                    <div class="bg-white shadow rounded-5" style="padding: 5em;">
                        <p class=" text-muted">This app is for private use only.</p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <fieldset>
                                <!-- {{form|crispy}} -->
                                {{ form.username | as_crispy_field }}
                                {{ form.password | as_crispy_field }}
                            </fieldset>
    
                            <div class=" form-group">
                                <button class="btn btn-dark col-12">
                                    Sign into account
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}